//MEDIA QUERY MANAGER
/*
0-600px:        Phone
600-900px:      Tablet portrait 
900-1200px:     Tablet landscape
[1200-1800] is where our normal styles apply
1800px + : Big desktop
*/

/*
$breakpoint argument choices:
- Phone
- tab-port
- tab-land
- big-desktop
 */



@mixin query($breakpoint) {

    /*
    em is used becos of useragent font-size adaptability
    1em = 16px
    */
    @if $breakpoint ==phone {

        //600px
        //600px/16px 
        @media only screen and (max-width:37.5em) {
            @content;
        }
    }


    @if $breakpoint ==tablet {

        //10240px
        @media only screen and (max-width:64em) {
            @content;
        }
    }

    // @if $breakpoint ==tab-land {

    //     //1200px
    //     @media only screen and (max-width:75em) {
    //         @content;
    //     }
    //  }

    @if $breakpoint ==big-desktop {

        //1800px
        @media only screen and (min-width:112.5em) {
            @content
        }
    }
}


@mixin button($textColor: var(--color-black), $backgroundColor: var(--color-white)) {
    display: inline-block;
    padding: 1rem 2.3rem;
    background: $backgroundColor;
    color: $textColor;
    font-weight: 500;
    border-radius: 0.4rem;
}

// @mixin background {
//     background: url('../images/header\ bg.jpg');
// }