.btn {
    @include button();
}

.btn-primary {
    @include button(var(--color-white), var(--color-black));
    border: 1px solid transparent;
    transition: all 300ms ease;

    &:hover {
        background: var(--color-white);
        color: var(--color-black);
        border-color: var(--color-black);
    }
}