body {
    font-family: 'Poppins', serif;
    color: var(--color-dark);
    line-height: 1.7;
    background: var(--color-white);
}



h1 {
    font-size: 5.6rem;
    line-height: 1;
    color: var(--color-black);
}

h2 {
    font-size: 3rem;
    font-weight: 500;
    line-height: 1;
}

h3 {
    font-size: 2rem;
    font-weight: 600;
}


a {
    color: var(--color-white);
    font-weight: 300;
}

@include query(tablet) {

    h1 {
        font-size: 4.2rem;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.9rem;
    }
}

@include query(phone) {
    h1 {
        font-size: 3.2rem;
    }

    h2 {
        font-size: 3rem;
    }

    h3 {
        font-size: 1.4rem;
    }
}